<input type="checkbox" id="input-checkbox" class="input-checkbox">
<label for="input-checkbox" class="input-checkbox-label">Menu</label>

<nav class="nav location-{{include.location}}">
    <ul>
        {% assign pages = (site.pages | sort: 'order') %}

        {% for current-page in pages %}
        {% if current-page.title %}
            {% if current-page.title == "Велосипеди" %}
        <li class="bicycles-item">
            <a class="nav-links page-title-{{ current-page.title-en | slugify }}
                                        {%if current-page.url == page.url %}active{% endif %}">{{current-page.title}}
            </a>
            <ul>
                <li>
                    <a class="nav-links page-title-mountain" href="{{site.baseurl}}/mountain">
                        Планински
                    </a>
                </li>
                <li>
                    <a class="nav-links page-title-road" href="{{site.baseurl}}/road">
                        Шосейни
                    </a>
                </li>
            </ul>
        </li>
            {% elsif current-page.title != 'Планински' and current-page.title != "Шосейни" %}
        <li>
            <a class="nav-links page-title-{{ current-page.title-en | slugify }}
                                        {%if current-page.url == page.url %}active{% endif %}"
               href="{{site.baseurl}}{{current-page.url}}">{{current-page.title}}
            </a>
        </li>
            {% endif %}
        {% endif %}
        {% endfor %}
    </ul>
</nav>