/*Common*/

.loaded{

  header li {
    transform: translateY(0);
  }

  .about-us figure{
    transform: translateX(0);
  }
}

input.input-checkbox{
  position: absolute;
  pointer-events: none;
  display: none;

  &:checked + .site-header{

    @include bp(phone){
      //height: 610px;
      height: 550px;
    }

    .nav > ul {
      display: flex;
      animation: nav-show 0.7s;

      @keyframes nav-show {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }

      @include bp(phone){
        flex-flow: column wrap;
        font-size: 21px;
      }
    }
  }
}

.site-main{

  padding: 40px;

  .page-content{
    height: 100%;

    //& > h1{
    //  color: var(--nav-color, #fff);
    //}
  }

  /*THIS IS JUST INITIAL MOCKING VALUE*/
  .images{
    height: 800px;
  }
}


/*HEADER*/

header {
  display: flex;
  font-size: var(--header-font-size);
  justify-content: space-between;
  background-color: var(--background-color-main, lightskyblue);
  transition: height 0.6s ease-in-out;
  height: 120px;

  @include bp(tablet) {
    height: 220px;
  }

  .site-logo {

    position: absolute;
    top: 4vh;
    left: 30px;
    display: inline-block;
    height: 9vw;

    @include bp(tablet) {
      height: 15%;
      left: 40%;
    }

    @include bp(phone) {
      height: 15%;
      left: 35%;
    }

    //position: relative;

    img {
      height: 100%;

      //@include bp(phone){
      //  height: 20%;
      //}
    }

    //  a {
    //    position: absolute;
    //    top: 13px;
    //    left: 30px;
    //    display: inline-block;
    //    height: 8vw;
    //
    //    @include bp(phone){
    //      height: 30%;
    //    }
    //  }
    //}
  }
}

/*INDEX PAGE*/
.index-banner{

  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;

  .backward, .forward{
    &:hover{
      cursor: pointer;
    }
  }

  .backward, .forward{
    cursor: pointer;
  }

  .backward:before, .forward:before{
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    margin: 0 8px;
  }

  //.backward:before{
  //  content: '\f060';
  //}
  //
  //.forward:before{
  //  content: '\f061';
  //}

  .images{
    position: relative;
    width: 100%;
  }

  figure{
    transition: transform 2s linear;
    position: absolute;
    transform: translateX(-1500px);
    //max-width: 100%;
    margin: 0;

    @include bp(tablet){
      transform: translateX(-850px);
    }

    @include bp(phone){
      transform: translateX(-650px);
    }
  }
  img{
    max-width: 100%;
  }
}

/*BIKES PAGE*/
.page-main{
  margin-top: 70px;
}

.bikes-collection{
  display: grid;
  grid-template-columns: repeat(4, 21%);
  gap: 60px;
  text-align: center;

  @include bp(mobile){
    grid-template-columns: repeat(3, 29%);
  }

  @include bp(tablet){
    grid-template-columns: repeat(2, 42%);
  }

  @include bp(phone){
    grid-template-columns: repeat(1, 65%);
    justify-content: center;
  }

  img{
    max-height: 184px;
    width: 100%;
    display: block;
    transition: filter 0.4s ease-in-out;
  }

  .bike{
    position: relative;
    background: #fff;
    border: 2px solid darkgray;
    border-radius: 5px;
    box-shadow:  0 0 10px 0 gray;
    transition: transform 0.5s ease-in-out,
                opacity 0.7s ease-in;

    opacity: 0;

    &:hover{
      cursor: pointer;
      transform: scale(1.05);

      > .info{
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
      }

      img {
        opacity: 0.3;
        filter: blur(3px);
      }
    }

    .info{
      visibility: hidden;
      position: absolute;
      transition: transform 1s ease-in-out,
                  opacity 0.7s ease-in-out,
                  visibility 0.7s ease-in-out;
      transform: translateY(-100px);
      opacity: 0;
      font-weight: 600;
      font-size: 15px;
      top: 40px;
      left: 60px;

      @include bp(tablet){
        font-size: 2vw;
      }

      @include bp(phone){
        font-size: 2.8vw;
      }
    }

    .price{
      font-size: larger;
      font-weight: 600;
      color: red;

      span{
        text-decoration: line-through;
        margin-right: 10px;
      }
    }

    & h3, .price{
      background-color: var(--bike-card-color, aquamarine);
    }

    & h3{
      @include bp(phone){
        font-size: 4vw;
      }
    }
  }
}

/*ABOUT PAGE*/
.about-us{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: var(--background-color-secondary, #fff);
  overflow: hidden;

  @include bp(tablet){
    font-size: 2.1vw;
  }

  & > figure{
    transition: transform 1.7s linear;
    //transform: translateY(-500px);
    transform: translateX(-700px);
    flex-basis: 40%;
    margin-right: 0;

    @include bp(tablet){
      flex-basis: 80%;
    }

    @include bp(phone){
      //transition-duration: 2.3s;
      //transform: translateY(-900px);
      transform: translateX(-300px);
    }
  }
  img{
    max-width: 90%;
  }

  p{
    padding: 10px;
    line-height: 1.5;
    font-weight: bolder;
    font-size: large;
    //color: #fff;
    flex-basis: 40%;

    i{
      font-size: larger;
      color: dodgerblue;
    }

    @include bp(tablet){
      font-size: 2.4vw;
      flex-basis: 70%;
    }
  }

  .bikes-brands-info{
    text-align: center;
    margin: 70px auto;

    figure{
      background-color: #fff;
      margin: 0;
    }

    .bikes-brands{
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(3, 0.2fr);
    }
  }
}

/*CONTACTS PAGE*/
.contact-details{
  background-color: var(--background-color-secondary, #fff);
  padding: 30px;
  font-size: large;

  @include bp(phone){
    font-size: 2.8vw;
  }

  iframe{
    max-width: 100%;
  }
}

/*FAQs PAGE*/
.questions-wrapper{

  background-color: var(--background-color-secondary, #fff);
  max-width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  font-size: larger;

  @include bp(phone){
    font-size: 2.8vw;
  }

  ul{
    list-style: none;
    max-width: 80%;
    margin: 0 auto;

    li {
      margin-top: 60px;

      &:before{
        content: '\f059';
        font-family: "Font Awesome 5 Free", serif;
        font-weight: 900;
        margin: 0 8px;
      }
    }
  }

  .more{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 1s ease-in,
                max-height 1s 0.2s ease-in;

    //li, p {
    //  display: none;
    //}
  }

  .read-more {
    height: 0;

    &-label {
      position: relative;
      display: block;
      margin: 20px;
      text-align: center;
      font-size: larger;

      &:before {
        color: #a61717;
        cursor: pointer;
        content: 'Прочети повече';
      }

      &:after {
        font-family: "Font Awesome 5 Free", serif;
        font-weight: 900;
        position: absolute;
        display: inline-block;
        width: 13px;
        margin: 0 8px 0 7px;
        content: '\f062'; //Arrow up
      }
    }

    &:checked ~ .more {
      opacity: 1;
      max-height: 100%;
      transition: opacity 1.2s 0.1s ease-in,
                  max-height 1s ease-in;

      //li, p {
      //  display: block;
      //}
    }

    &:checked + label:before {
      content: 'Прочети по-малко';
    }

    &:checked + .read-more-label:after {
      content: '\f063';
    }

  }
}

/*FOOTER*/
.site-footer{
  background-color: var(--background-color-main, lightskyblue);
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px 40px;

  @include bp(phone){
    flex-flow: column;
    align-items: center;
  }

  h4 {
    @include bp(phone){
      font-size: 3.5vw;
    }
  }

  ul{
    display: flex;
    list-style: none;
    padding: 0;

    a {
      transition: transform 0.6s ease-in-out;

      &:hover{
        cursor: pointer;
        transform: scale(1.1);
      }

      &:before{
        font-weight: 900;
        margin: 0 8px;
      }
    }
  }

  .partners, .social-media{
    max-width: 30%;
  }

  .partners{
    flex-flow: row wrap;

    h4 {
      text-align: center;
    }

    img {
      margin-right: 25px;
      width: 37%;
    }

    ul {
      flex-flow: row wrap;
      height: 50%;
      align-items: baseline;
      justify-content: center;

       li{
         flex: 0 1 40%;
         margin-right: 20px;

         @include bp(phone){
           flex-basis: 70%;
           margin-right: 0;
         }
       }
    }

    img {
      width: 100%;
    }
  }

  .social-media > ul{
    flex-flow: column;
    justify-content: space-between;
    align-items: center;

    a{
      display: inline-block;
      margin-top: 20px;
      text-decoration: none;
      color: #fff;
      font-size: larger;

      @include bp(phone){
        font-size: 3.5vw;
      }
    }

    a:before{
      font-family: "Font Awesome 5 Brands", serif;
      //font-weight: 900;
      //margin: 0 8px;
    }

    //.fb{
    //  margin: 0;
    //}
  }

  .contacts{
    height: 60%;
    justify-content: space-between;
  }

  .contacts > ul{
    flex-flow: column wrap;
    margin-top: 40px;
    height: 40%;
    justify-content: space-between;
    font-size: large;

    a {
      @include bp(phone){
        font-size: 3.3vw;
      }

      &:before{
        font-family: "Font Awesome 5 Free", serif;
      }
    }
  }

  span{
    flex: 0 1 100%;
    text-align: center;
    font-size: larger;
    margin-top: 30px;
  }

  .email, .phone{
    display: block;
  }

  .email{
    margin-bottom: 20px;

    &:before{
      content: '\f199';
    }
  }

  .phone:before{
    content: '\f095';
  }
}

//.fb:before, .instagram:before, .twitter:before{
//  display: inline-block;
//  position: relative;
//  top: 4px;
//}


.fb:before {
  content: '\f09a';
  //width: 10px;
  //content: url("../icons/facebook.svg");
}

.instagram:before{
  content: '\f16d';
  //content: '';
  //width: 20px;
  //height: 20px;
  //background: url("../icons/instagram-sketched.svg");
}

.twitter:before{
  content: '\f081';
  //width: 20px;
  //content: url("../icons/twitter.svg");
}
