:root{
  --background-color-main: lightskyblue;
  --background-color-secondary: #fffffff2;
  --header-font-size: larger;
  --nav-color: #fff;
  --bike-card-color: aquamarine;
  --bike-card-price-color: red;
}